$phone: "Only screen and (max-width : 768px)";
$pad: "Only screen and (max-width : 1569px)";
$desktop: "Only screen and (min-width : 1570px)";

@media #{$desktop} {
  .home {
    // font-family: "Bebas Neue", cursive;
    font-family: "Do Hyeon", sans-serif;
    position: relative;
    z-index: 2;
    .home_box {
      // position: relative;
      .background {
        position: relative;
        height: 100vh;
        // align-items: center;
        // text-align: center;
        .bg_img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
        .logo {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            width: 250px;
            border-radius: 50%;
          }
        }

        .text {
          position: absolute;
          top: 53%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          .announce {
            display: flex;
            h1 {
              color: #2471d8;
              text-transform: uppercase;
              font-size: 50px;
              margin: 16px 10px;
            }
          }

          hr {
            width: 100px;
          }

          .typewriter {
            display: flex;
            width: 100%;
            justify-content: center;
            p {
              color: white;
              font-size: 26px;
              margin: 16px 0;
              overflow: hidden;
              border-right: 1px solid #fff;
              white-space: nowrap;
              /* keeps content in one line */
              letter-spacing: 0.15em;
              animation: typing 4s steps(28, end),
                blink-caret 1s step-end infinite;
              animation-fill-mode: both;
            }
          }
        }
        button {
          position: absolute;
          top: 66%;
          left: 49%;
          transform: translate(-50%, -50%);
          background-color: transparent;
          // border: none;
          border: 2px solid yellow;
          padding: 5px 7px;
          border-radius: 50%;
          outline: none;
          cursor: pointer;
          font-size: 28px;
          line-height: 26px;
          animation: down-motion 1s infinite;

          svg {
            color: yellow;
          }
        }
      }
    }
  }
}

@media #{$pad} {
  .home {
    // font-family: "Bebas Neue", cursive;
    font-family: "Do Hyeon", sans-serif;
    .home_box {
      // position: relative;
      .background {
        position: relative;
        .bg_img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
        .logo {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            width: 250px;
            border-radius: 50%;
          }
        }
        .text {
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          .announce {
            display: flex;
            h1 {
              color: #2471d8;
              text-transform: uppercase;
              font-size: 45px;
              margin: 16px 10px;
              white-space: nowrap;
            }
          }
          hr {
            width: 100px;
          }

          .typewriter {
            display: flex;
            width: 100%;
            justify-content: center;
            p {
              color: white;
              margin: 16px;
              font-size: 22px;
              overflow: hidden;
              border-right: 1px solid #fff;
              white-space: nowrap;
              /* keeps content in one line */
              letter-spacing: 0.15em;
              animation: typing 4s steps(28, end),
                blink-caret 1s step-end infinite;
              animation-fill-mode: both;
            }
          }
        }
        .home_btn {
          position: absolute;
          top: 63%;
          left: 48.5%;
          transform: translate(-50%, -50%);
          background-color: transparent;
          // border: none;
          border: 2px solid yellow;
          padding: 5px 7px;
          border-radius: 50%;
          outline: none;
          cursor: pointer;
          font-size: 28px;
          line-height: 26px;
          animation: down-motion 1s infinite;
          // transition: all 0.2s ease-in-out;
          svg {
            color: yellow;
          }
        }
      }
    }
  }
}
@media #{$phone} {
  .home {
    // font-family: "Bebas Neue", cursive;
    font-family: "Do Hyeon", sans-serif;
    // height: 1000px;
    .home_box {
      // position: relative;
      .background {
        position: relative;
        z-index: 999;
        height: 100vh;
        .bg_img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
        .logo {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            width: 250px;
            border-radius: 50%;
          }
        }
        .text {
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          .announce {
            display: flex;
            h1 {
              color: #2471d8;
              text-transform: uppercase;
              font-size: 45px;
              margin: 16px 10px;
              white-space: nowrap;
            }
          }
          hr {
            width: 100px;
          }

          .typewriter {
            display: flex;
            width: 100%;
            justify-content: center;
            p {
              color: white;
              margin: 16px;
              font-size: 22px;
              overflow: hidden;
              border-right: 1px solid #fff;
              white-space: nowrap;
              /* keeps content in one line */
              letter-spacing: 0.15em;
              animation: typing 4s steps(28, end),
                blink-caret 1s step-end infinite;
              animation-fill-mode: both;
            }
          }
        }
        .home_btn {
          position: absolute;
          display: flex;
          top: 63%;
          left: 47%;
          transform: translate(-50%, -50%);
          background-color: transparent;
          // border: none;
          border: 2px solid yellow;
          padding: 6px 7px;
          border-radius: 50%;
          outline: none;
          cursor: pointer;
          font-size: 28px;
          line-height: 26px;
          animation: down-motion 1s infinite;
          // transition: all 0.2s ease-in-out;
          svg {
            color: yellow;
          }
        }
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20.5em;
  }
}

@keyframes down-motion {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
